.episode {
    margin: 4rem 6rem;
    color: #2a2a2a;
    padding-top: 5%;
}

.episode h1 {
    font-size: 3rem;
}

.episodeCard {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.eCard {
    width: 32%;
    text-align: center;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11) ;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
}

.eCard button {
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
    background-color: #F15A24;
    transition: all 0.2s ease;
    text-decoration: none;
}

.eImage {
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.eImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}

.eImage:hover img {
    transform: scale(1.3);
}

.eCard h4 {
    font-size: 1.3rem;
    padding: .9rem 0 .2rem 0;
}

@media screen and (max-width:850px){
    .episode{
        margin: 4rem 2rem;
    }
    .episodeCard {
        flex-direction: column;
    }

    .eCard {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}