/* .navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
    position: fixed;
  } */

  /* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

  
  .navbar .leftSide {
    flex: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
  }

  .link:hover{
    background-color: #F15A24;
    color: #222;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar .leftSide img {
    width: 300px;
  }
  
  .navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px; */
  /* } */
  /* @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 20px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }
   */


   .navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.navbarMenu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    align-items: center;
    grid-gap: 10px;
}

.navLinks {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.navLinks:hover{
    background-color: #F15A24;
    color: #222;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.menuIcons {
    display: none;
}

@media screen and (max-width: 850px) {
    .navbarItems {
        z-index: 99;
    }

    .navbarMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #F15A24;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
    }

    .navbarMenu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
    }

    .navLinks{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .navLinks:hover {
        background: #222;
        color: #fff;
        transition: none;
    }

    .menuIcons {
        display: block;
    }
}
