.elementFolgen {
    margin-top: 10%;
}

.logoHeader img {
    width: 80%;
    margin-bottom: 5%;
}

.subHead {
    margin-bottom: 2%;
    font-weight: 300;
}

.subText {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.folgenLinks i {
    color: #F15A24;
    font-size: 6rem;
    margin-left: 3rem;
    margin-bottom: 2%;
}

@media screen and (max-width:850px){
    .elementFolgen{
        margin: 4rem 2rem;
        padding-top: 10%;
    }
    /* .episodeCard {
        flex-direction: column;
    }

    .eCard {
        width: 100%;
        margin-bottom: 1.5rem;
    } */
}