.elementFolgen {
    margin-top: 10%;
}

.logoHeader img {
    width: 90%;
    margin-bottom: 5%;
}

.subHead {
    margin-bottom: 2%;
    font-weight: 300;
}

.subText {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    hyphens: auto; 
	text-align: justify
}

.folgenLinks i {
    color: #F15A24;
    font-size: 6rem;
    margin-left: 3rem;
    margin-bottom: 2%;
    padding-right: 2rem;
}

.backEpisode {
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
    border-color: transparent;
    background-color: #F15A24;
    text-decoration: none;
    margin-bottom: 2%;
}

.backEpisode a {
    color: white;
    text-decoration: none;
}

.greyMountains {
    color: #F15A24;
    text-decoration: none;
}

@media screen and (max-width:850px){
    .elementFolgen{
        margin: 4rem 2rem;
        padding-top: 10%;
    }

    .folgenLinks i {
        font-size: 3rem;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
