.ueberContainer {
    margin-top: 10%;
}

.aboutContainer {
    margin-right: 15%;
    margin-left: 15%;
    hyphens: auto; 
	text-align: justify
}

.aboutQuestions {
    margin-right: 15%;
    margin-left: 15%;
    hyphens: auto; 
	text-align: justify
}

.secondPart {
    background-color: #F15A24;
}

.secondPart p {
    color: white;
}