.upc {
    width: 350px;
    margin: 20px;
    border-radius: 4px;
    padding-bottom: 20px;
    background: white;
}

.gradiant {
    background-image: linear-gradient(#c13806,#F15A24);
    height: 125px;
    border-radius: 4px 4px 0px 0px;
}

.profileDown img {
    height: 150px;
    border-radius: 100px;
    margin-top: -25px;
    padding: 5px;
    background: white;
}

.profileTitle {
    font-size: 36px;
    font-weight: 600;
}

.profileDescription {
    padding: 20px 40px;
    font-size: 16px;
}

.profileButton {
    font-size: 16.px;
    background: #2b5dff;
    margin: 10px 100px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: white;
}